<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn2.hometogo.net/assets/media/pics/1500_500/611a5ee09dba0.jpg);">
  <div class="container">
    <h1>Build a boat, part by part, then just wait for delivery!</h1>
    <p>Some placeholder text that gives more information about the product.</p>
    <a class="btn btn-success" href="#">Apply now</a>
  </div>
</div>
<div class="container">
  <div class="buttons-home-container d-flex justify-content-around pt-5">
    <div class="btn btn-dark">Build</div>
    <div class="btn btn-dark">Info</div>
  </div>
</div>
